services:
  db:
    image: postgres:16
    container_name: ferryboat_db
    restart: always
    environment:
      POSTGRES_DB: ferryboat
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
  app:
    build: .
    container_name: ferryboat_app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://ferryboat_db:5432/ferryboat
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    depends_on:
      - db

  

volumes:
  postgres-data: